
@{
    ViewData["Title"] = "Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Request lyrics</h2>
<form method="post">
    <div class="form-row">
        <div class="form-group col-6">
            <label for="Artist">Artist</label>
            <input class="form-control" name="Artist" id="Artist" placeholder="Artist" />
        </div>
        <div class="form-group col-6">
            <label for="Title">Title</label>
            <input class="form-control" name="Title" id="Title" placeholder="Title" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-6">
            <label for="LyricsUrl">Link to lyrics (optional)</label>
            <input class="form-control" name="LyricsUrl" id="LyricsUrl" placeholder="Optional lyrics link" />
        </div>
        <div class="form-group col-6">
            <label for="Comments">Comments (optional)</label>
            <input class="form-control" name="Comments" id="Comments" placeholder="Optional comments" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <label>All these details will be publicly visible on <a href="/Requests/" target="_blank">the requests page</a>.</label>
            <button class="btn btn-outline-primary w-100" id="SubmitButton" type="submit">Submit</button>

        </div>
    </div>
</form>

