@model LrcLyrics.Models.LyricsSubmission

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="Artist">Artist</label>
        <input id="Artist" name="Artist" class="form-control" placeholder="Song artist" value="@Model?.Lyrics.Artist" />
    </div>
    <div class="form-group col-md-6">
        <label for="Title">Title</label>
        <input class="form-control" name="Title" id="Title" type="text" placeholder="Song title" value="@Model?.Lyrics.Title" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="Creators">Submitters or creators (i.e. you)</label>
        <input id="Creators" name="Creators" class="form-control" placeholder="Creators" value="@Model?.Lyrics.Creators" />
    </div>
    <div class="form-group col-md-6">
        <label for="MusicUrl">Music URL</label>
        <input class="form-control" name="MusicUrl" id="MusicUrl" type="text" placeholder="Music URL (e.g. soundcloud or youtube link)" value="@Model?.Lyrics.MusicUrl" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label for="SourceName">Source name</label>
        <input class="form-control" name="SourceName" id="SourceName" type="text" placeholder="Website name, location, may be empty" value="@Model?.Lyrics.Source?.Name" />
    </div>
    <div class="form-group col-md-4">
        <label for="SourceLink">Source link</label>
        <input class="form-control" name="SourceLink" id="SourceLink" type="text" placeholder="Link to the source" value="@Model?.Lyrics.Source?.Url" />
    </div>
    <div class="form-group col-md-4">
        <label for="SourceDescription">Source description</label>
        <input class="form-control" name="SourceDescription" id="SourceDescription" type="text" placeholder="Source info, may be empty" value="@Model?.Lyrics.Source?.Description" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <label for="Description">Description</label>
        <input class="form-control" name="Description" id="Description" type="text" placeholder="Short text with any information you feel is necessary for a viewer to know" value="@Model?.Lyrics.Description" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="RequestId">Request number (optional)</label>
        <input class="form-control" name="RequestId" id="RequestId" type="text" placeholder="Request to close upon acceptation" value="@Model?.RequestToClose" />
    </div>
    <div class="form-group col-md-6">
        <label for="EditId">Edit ID (optional)</label>
        <input class="form-control" name="EditId" id="EditId" type="text" placeholder="Id of lyrics to edit" value="@Model?.EditId" />
    </div>
</div>
<div class="form-row">
    <div class="form-group col-12">
        <label for="Lines">Lyrics</label>
        <textarea class="form-control" name="Lines" id="Lines" placeholder="LRC-formatted lyrics:&#10;[01:23.45]Sample Text" rows="10">@Model?.RawText</textarea>
    </div>
</div>

