@model LrcLyrics.BackEnd.Models.Lyrics

    <div id="lyric-lines">
        @{var i = 0;}
        @if (Model.Lines.Count > 0 && Model.Lines[0].Time > 500)
        {
            <div class="lyric-line text-white-50" id="0">
                <div class="progress">
                    <div class="progress-bar" style="width: 0%"></div>
                </div>
            </div>
        }
        @foreach (var line in Model.Lines)
        {
            var isProgressBar = string.IsNullOrEmpty(line.Text) && Model.Lines.Count - 1 != i && (Model.Lines[i + 1].Time - line.Time) > 300;
            <div class="lyric-line text-white-50" id="@line.Time">
                <div class="line-timestamp d-none">[@line.TimeString]</div>
                @if (isProgressBar)
                {
                    <div class="progress">
                        <div class="progress-bar" style="width: 0%"></div>
                    </div>
                }
                else if (string.IsNullOrEmpty(line.Text))
                {
                    <div class="d-inline">&nbsp;</div>
                }
                else
                {
                    <div class="d-inline">@line.Text</div>
                }
            </div>
            i++;
        }
    </div>