@model LrcLyrics.BackEnd.Models.Lyrics

@{
    var lyric = ViewData["Lyric"] as Lyrics;
    ViewData["Title"] = $"{lyric.Artist} - {lyric.Title}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <hr />
    @Html.PartialAsync("_LyricInfo", lyric).Result
    <hr />
    @Html.PartialAsync("_LyricLines", lyric).Result
</div>
