
@{
    ViewData["Title"] = "Lyric submission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lyric submission</h1>
<form asp-controller="Lyrics" asp-action="Add" method="post">
    @Html.PartialAsync("_SubmissionForm").Result
    <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>

