
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>This is a small personal project. This site provides downloads for timestamped LRC-formatted lyrics, and a karaoke-like experience. All lyrics are manually timed, but many are not made from scratch. Most are based on lyrics from other sites, adjusted or corrected as needed, and then timestamped. Links to source-sites can be viewed by clicking "more" below the song title.</p>
<h4>About the LRC file format</h4>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
<h4>How to create LRC lyrics</h4>
<p>Lorem ipsum dolor sit amet, at justo noster eam, atqui accusam neglegentur eu mel, fuisset hendrerit quo eu. Et mea volumus appareat. Dicam tation ne vis, eam ex iriure mnesarchum. Veri copiosae usu ne. Ut molestiae percipitur vix, animal hendrerit no per, consul debitis per id. Id illud voluptatibus nec, debitis urbanitas vix ad, vis omittam prodesset in. Dolores lucilius vel in, elit doctus et vel.</p>
<h4>To do:</h4>
<ul class="list-group">
    <li>
        <s>Request page - user provides artist and title, link to music and, optionally, lyrics</s> <a href="/Requests/New">Done</a>
    </li>
    <li>
        Better editing page
    </li>
    <li>
        Optional auto-scroll - a triangle at the top of the page that enabled or disabled auto-scroll
    </li>
</ul>